<div class="input-group">
	<span class="input-group-text bg-white">
		<i class="fa fa-filter" aria-hidden="true"></i>
	</span>
	<ng-typeahead [placeholder]="'SELECT_VIEW' | translate | ucfirst" class="form-control" [items]="views"
		(change)="switchView($event?.key)" bindValue="key" bindText="name" [searchKeys]="['name']" [(ngModel)]="value">
		<ng-template typeaheadOption let-item="item">
			<div class="d-flex align-items-center">
				<div class="col">{{ item.name }}</div>
				<div class="col-auto ms-2 ml-2">
					<div class="d-flex text-nowrap">
						<button class="btn p-1" (click)="$event.stopPropagation(); editView(item);"
							[tooltip]="'EDIT_VIEW' | translate | ucfirst">
							<i class="fas fa-pencil-alt"></i>
						</button>
						<button class="btn p-1 text-danger" (click)="$event.stopPropagation(); deleteView(item);"
							[tooltip]="'REMOVE_VIEW' | translate | ucfirst">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template typeaheadFooter>
			<div class="d-flex justify-content-end">
				<button class="btn" (click)="editView()"><i
						class="fas fa-plus me-2 mr-2"></i>{{ 'ADD_VIEW' | translate | ucfirst }}
				</button>
			</div>
		</ng-template>
	</ng-typeahead>
</div>

<jw-modal id="filter-save-form" [title]="'EDIT_VIEW' | translate | ucfirst" [buttons]="viewSaveButtons">
	<ng-container *ngIf="parent.viewSaverForm; else defaultViewSaverTpt">
		<ng-template #viewSaverFormTpt></ng-template>
	</ng-container>
	<ng-template #defaultViewSaverTpt>
		<form [formGroup]="form">
			<fieldset class="mb-4">
				<label class="form-label">{{ 'NAME' | translate | ucfirst }} <span class="text-danger">*</span></label>
				<input type="text" class="form-control" required formControlName="name">
			</fieldset>
			<fieldset *ngIf="conditionsFA.length" formArrayName="conditions">
				<legend>{{ 'A_VIEW_WILL_BE_CREATED' | translate | ucfirst }}</legend>

				<ul class="list-group list-group-flush">
					<ng-container *ngFor="let header of filterableHeaders; let i=index;">

						<li [formGroupName]="i" class="list-group-item" *ngIf="header.filter">
							<div class="row justify-content-between align-items-center">
								<label class="col-md-2">{{ header.title | translate | ucfirst }}</label>
								<div class="col-md-5">
									<select class="form-select" formControlName="operation">
										<option value="equal">{{ 'OPERATIONS.EQUAL_TO' | translate | ucfirst}}</option>
										<option value="variable">{{ 'OPERATIONS.VARIABLE' | translate | ucfirst}}
										</option>
									</select>
								</div>
								<div class="col-md-5" [ngSwitch]="form.get('conditions.' + i + '.operation')?.value">

									<ng-container *ngSwitchCase="'variable'">
										<ng-container [ngSwitch]="header.filter.type">
											<select *ngSwitchCase="'date-range'" formControlName="value"
												class="form-select">
												<option *ngFor="let variable of variables.daterange"
													[value]="variable.value">
													{{ variable.text | translate | ucfirst }}
												</option>
											</select>
											<select *ngSwitchCase="'date'" formControlName="value" class="form-select">
												<option *ngFor="let variable of variables.date"
													[value]="variable.value">
													{{ variable.text | translate | ucfirst }}
												</option>
											</select>
										</ng-container>
									</ng-container>

									<ng-container *ngSwitchCase="'equal'">
										<ng-container [ngSwitch]="header.filter.type">
											<select *ngSwitchCase="'dropdown'" formControlName="value"
												class="form-select">
												<option *ngIf="header.filter.placeholder" [ngValue]="null">
													{{ header.filter.placeholder }}
												</option>
												<ng-container
													*ngIf="header.filter.options | isObservable; else elseTemplate">
													<option *ngFor="let option of header.filter.options | async"
														[value]="option[header.filter.bindValue || 'id']">
														{{ option[header.filter.bindLabel || 'name'] }}
													</option>
												</ng-container>
												<ng-template #elseTemplate>
													<option *ngFor="let option of header.filter.options"
														[value]="option[header.filter.bindValue || 'id']">
														{{ option[header.filter.bindLabel || 'name'] }}
													</option>
												</ng-template>
											</select>
											<ng-table-sorter-range-input *ngSwitchCase="'number-range'" type="number"
												formControlName="value">
											</ng-table-sorter-range-input>
											<ng-table-sorter-range-input *ngSwitchCase="'date-range'" type="date"
												formControlName="value">
											</ng-table-sorter-range-input>
											<input *ngSwitchDefault [type]="header.filter.type" formControlName="value"
												class="form-control" [placeholder]="header.filter.placeholder || ''">
										</ng-container>
									</ng-container>

									<ng-container *ngSwitchDefault>
										Not developed
									</ng-container>
								</div>
							</div>
						</li>
					</ng-container>
				</ul>
			</fieldset>
		</form>
	</ng-template>
</jw-modal>
