<div class="mb-5">
	<h2 class="d-inline">Custon no data message</h2>
	<a class="btn btn-outline-primary float-right" href="#"><i class="fa fa-fw fa-github"></i>View code in Github</a>
</div>
<table-sorter [rows]="[]">
	<ng-template nbTableSorterNotFound>
		<div class="alert alert-info" role="alert">
			<i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Nothing has been found...
			<div class="text-center">
				<img src="https://media.giphy.com/media/3ohA2ZD9EkeK2AyfdK/giphy.gif" alt="Sorry!">
			</div>
		</div>
	</ng-template>
</table-sorter>