<div class="mb-5 d-flex justify-content-between align-items-center">
	<h2 class="d-inline">Custom cells</h2>
	<a class="btn btn-outline-primary float-right" href="#"><i class="fab fa-fw fa-github"></i>View code in Github</a>
</div>
<table-sorter [headers]="headers" [rows]="items">
	<ng-template nbTableSorterCell header="avatar" let-item="item">
		<img [src]="'assets/avatars/64_' + (item.id % 16 + 1) + '.png'" [alt]="item.name">
	</ng-template>
	<ng-template nbTableSorterCell header="name" let-property="property">
		<span class="badge badge-pill badge-info">
			customized column
		</span>
		{{ property }}
	</ng-template>
	<ng-template nbTableSorterCell header="email" let-item="item">
		{{ item.email }}
		<span class="badge badge-pill badge-warning">
			also customized
		</span>
	</ng-template>
</table-sorter>
