<header>
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="assets/icons/80-logo-02.png" height="32" alt="80 y media">
    </a>
    <!-- NB Table Sorter -->

  </nav>
  <ul class="nav nav-pills container my-4 text-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['server-pagination']" routerLinkActive="active">Server pagination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['client-pagination']" routerLinkActive="active">Client pagination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['rows-with-actions']" routerLinkActive="active">Rows with actions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['custom-headers']" routerLinkActive="active">Custom headers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['sortable']" routerLinkActive="active">Sortable</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pagination-up']" routerLinkActive="active">Pagination up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pagination-down']" routerLinkActive="active">Pagination down</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pagination-on-both-sites']" routerLinkActive="active">Pagination on both
        sites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pagination-info']" routerLinkActive="active">Pagination info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['without-search']" routerLinkActive="active">Without search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['custom-no-data-message']" routerLinkActive="active">Custom no data
        message</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['custom-rows']" routerLinkActive="active">Custom rows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['custom-cells']" routerLinkActive="active">Custom cells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['expanding-rows']" routerLinkActive="active">Expanding rows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['selectable']" routerLinkActive="active">Selectable</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['custom-rows-per-page']" routerLinkActive="active">Custom rows per
        page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['not-paginated']" routerLinkActive="active">Not paginated</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['sticky-columns']" routerLinkActive="active">Sticky columns</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['responsive']" routerLinkActive="active">Responsive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['batch-actions']" routerLinkActive="active">Batch actions</a>
    </li>
  </ul>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">80ymedia</a>
    <a disabled class="ml-auto">{{ version }}</a>
  </nav>
</footer>
