<div class="container">
	<!--The content below is only a placeholder and can be replaced.-->
	<div style="text-align:center">
		<h1>
			Welcome to {{ title }}!
		</h1>
		<img width="300" alt="Angular Logo"
			src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
	</div>
	<h2>NB Table Sorter </h2>

	<h2>Paginación en servidor</h2>
	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla con cabeceras ordenables</h4>
			<table-sorter (onParamsChange)="fetch('pagination', $event)" [headers]="headers3" [pagination]="pagination"
				(itemClick)="load($event)" [paginationInfo]="true" [searchKeys]="searchKeys3"
				[options]="{cursor: 'pointer'}">
			</table-sorter>
		</div>
	</div>
	<h2>Paginación en cliente</h2>
	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla con cabeceras</h4>
			<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Cabeceras con títulos e iconos personalizados</h4>
			<table-sorter [headers]="headers2" [rows]="items"></table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla ordenable por nombre de usuario y email</h4>
			<table-sorter [headers]="headers3" [rows]="items" (itemClick)="load($event)">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Paginación arriba</h4>
			<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)" paginationPosition="top">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Paginación abajo</h4>
			<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)" paginationPosition="bottom">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Paginación arriba y abajo</h4>
			<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)" paginationPosition="both">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Información de la paginación</h4>
			<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)" [paginationInfo]="true">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla sin buscador</h4>
			<table-sorter [headers]="headers2" [rows]="items" [showSearchInput]="false">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla sin datos</h4>
			<table-sorter [rows]="[]">
			</table-sorter>
		</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla sin datos y mensaje personalizado</h4>
			<table-sorter [rows]="[]">
				<ng-template nbTableSorterNotFound>
					<div class="alert alert-info" role="alert">
						<i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> No se ha encontrado nada...
						<div class="text-center">
							<img src="https://media.giphy.com/media/3ohA2ZD9EkeK2AyfdK/giphy.gif" alt="Sorry!">
						</div>
					</div>
				</ng-template>
			</table-sorter>
		</div>
	</div>

	<!-- 
			<section class="mb-5">
				<h3>Tabla sin datos</h3>
				<table-sorter [headers]="columns2" [rows]="[]">
				</table-sorter>
			</section>
		
			<section class="mb-5">
				<h3>Tabla sin y mensaje personalizado</h3>
				<table-sorter [headers]="columns2" [rows]="[]">
					<ng-template nbTableSorterNotFound>
						<div class="alert alert-info" role="alert">
							<i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> No se han encontrado nada...
							<div class="text-center">
								<img src="https://media.giphy.com/media/3ohA2ZD9EkeK2AyfdK/giphy.gif" alt="Sorry!">
							</div>
						</div>
					</ng-template>
				</table-sorter>
			</section>

	<section class="mb-5">
		<h3>3 items por página</h3>
		<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)" [limit]="3">
		</table-sorter>
	</section>

	<section class="mb-5">
		<h3>Sin paginación</h3>
		<table-sorter [headers]="headers1" [rows]="items" (itemClick)="load($event)" [limit]="0">
		</table-sorter>
	</section> -->
	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Filas personalizadas</h4>
			<table-sorter [headers]="headers4" [rows]="items" (itemClick)="load($event)">
				<ng-template nbTableSorterRow let-item>
					<tr>
						<td>
							<img [src]="'assets/avatars/64_' + (item.id % 16 + 1) + '.png'" [alt]="item.name">
						</td>
						<td>{{ item.name }}</td>
						<td>{{ item.email }}</td>
						<td>
							<a class="btn btn-link" (click)="item.unfold  = !item.unfold">
								<i class="fa"
									[ngClass]="{'fa-chevron-down': !item.unfold, 'fa-chevron-up': item.unfold}"></i>
							</a>
						</td>
					</tr>
					<ng-container *ngIf="item.unfold">
						<tr>
							<td colspan="4">
								Columna personalizada
							</td>
						</tr>
						<tr>
							<td>
								Columna personalizada 1
							</td>
							<td>
								Columna personalizada 2
							</td>
							<td>
								Columna personalizada 3
							</td>
							<td>
							</td>
						</tr>
					</ng-container>
				</ng-template>
			</table-sorter>
		</div>
	</div>
	<h2>Filas con acciones</h2>
	<div class="card mb-5">
		<div class="card-body">
			<h4 class="card-title">Tabla con cabeceras</h4>
			<table-sorter [headers]="headers1" [rows]="items" [actions]="actions1">
			</table-sorter>
		</div>
	</div>
</div>