<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 24;">
		<div class="container">
			<a class="navbar-brand" [routerLink]="['/']">
				<img src="assets/images/logo-white.png" alt="80ymedia" style="height: 40px;">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-expanded="false" aria-label="Toggle navigation" (click)="opened = !opened">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" [class.show]="opened">
				<ul class="navbar-nav ms-auto align-items-center">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="http://www.80ymedia.es/"
							target="_blank">Author</a>
					</li>
					<li class="nav-item">
						<a href="https://github.com/inphinito/ng-fab" target="_blank" rel="noopener noreferrer"
							title="GitHub" class="nav-link">
							<i class="fab fa-github fa-2x"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<ul class="nav nav-pills container my-4 text-center">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['server-pagination']" routerLinkActive="active">Server pagination</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['client-pagination']" routerLinkActive="active">Client pagination</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['routable-rows']" routerLinkActive="active">Routable rows</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['rows-with-actions']" routerLinkActive="active">Rows with actions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-headers']" routerLinkActive="active">Custom headers</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['sortable']" routerLinkActive="active">Sortable</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['pagination-up']" routerLinkActive="active">Pagination up</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['pagination-down']" routerLinkActive="active">Pagination down</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['pagination-on-both-sites']" routerLinkActive="active">Pagination on both
				sites</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['pagination-info']" routerLinkActive="active">Pagination info</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['without-search']" routerLinkActive="active">Without search</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-no-data-message']" routerLinkActive="active">Custom no data
				message</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-rows']" routerLinkActive="active">Custom rows</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-cells']" routerLinkActive="active">Custom cells</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['expanding-rows']" routerLinkActive="active">Expanding rows</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['selectable']" routerLinkActive="active">Selectable</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['selectable-multiple']" routerLinkActive="active">Selectable multiple</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['reactive-form']" routerLinkActive="active">Reactive form</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-rows-per-page']" routerLinkActive="active">Custom rows per
				page</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['not-paginated']" routerLinkActive="active">Not paginated</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['sticky-columns']" routerLinkActive="active">Sticky columns</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['responsive']" routerLinkActive="active">Responsive</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['batch-actions']" routerLinkActive="active">Batch actions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['hoverable-rows']" routerLinkActive="active">Hoverable rows</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['advanced-filtering']" routerLinkActive="active">Advanced filtering</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-filters']" routerLinkActive="active">Custom filters</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-loading']" routerLinkActive="active">Custom loading</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['error']" routerLinkActive="active">Error</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-error']" routerLinkActive="active">Custom error</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-views']" routerLinkActive="active">Custom views</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['custom-view-saver']" routerLinkActive="active">Custom view saver</a>
		</li>
	</ul>
</header>

<main class="container">
	<router-outlet></router-outlet>
</main>

<footer>
	<nav class="navbar fixed-bottom navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="http://80ymedia.es/" target="_blank">80ymedia</a>
			<a disabled class="ms-auto">{{ version }}</a>
		</div>
	</nav>
</footer>
