<ng-container *ngIf="!pagination">
	<div class="d-flex justify-content-center">
		<div class="spinner-border m-4" style="width: 3rem; height: 3rem;" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="pagination?.data?.length && showSearchInput">
	<div class="row">
		<div class="col-xs-12 offset-md-6 col-md-6">
			<div class="input-group mb-3">
				<input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Buscar"
					aria-label="Buscar" (keyup.enter)="filter()">
				<div class="input-group-append">
					<button class="btn btn-secondary" type="button" (click)="filter()">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="pagination?.data && !pagination.data.length"
	[ngTemplateOutlet]="templateNotFound || defaultNotFoundTemplate">
</ng-container>

<ng-container *ngIf="pagination?.data.length">
	<nb-table-sorter-paginator *ngIf="pagination && (paginationPosition == 'top' || paginationPosition === 'both')"
		[pagination]="pagination"></nb-table-sorter-paginator>

	<table class="table">
		<thead>
			<tr>
				<th *ngFor="let item of headers"
					[ngClass]="{'text-wrap': item.wrapping === 'wrap', 'text-nowrap': item.wrapping === 'nowrap'}"
					(click)="sort(item)" [style.width]="item.wrapping === 'nowrap' ? '1%' : 'auto'">
					<ng-container *ngIf="item | isObject">
						<i class="fa fa-{{ item.icon }}" [ngClass]="{'fa-fw': item.title}" *ngIf="item.icon"
							aria-hidden="true"></i>
						<span *ngIf="item.title">{{ item.title | ucfirst }}</span>
						<i class="fa float-right" *ngIf="item.sortable" [ngClass]="getOrdenationClass(item)"
							aria-hidden="true"></i>
					</ng-container>
					<ng-container *ngIf="item | isString">
						{{ item | ucfirst }}
					</ng-container>
				</th>
				<th *ngIf="actions?.length"></th>
			</tr>
		</thead>

		<tbody>
			<ng-container *ngFor="let item of pagination.data; let i=index">
				<ng-container [ngTemplateOutlet]="templateRow || defaultRowTemplate"
					[ngTemplateOutletContext]="{$implicit: item}">
				</ng-container>
			</ng-container>
		</tbody>
	</table>
	<p class="text-right" *ngIf="pagination && paginationInfo">
		<small class="text-muted">Mostrando {{ pagination.data.length }} de {{ pagination.total }}
			registros</small>
	</p>
	<nb-table-sorter-paginator (onPageClick)="pageClicked($event)"
		*ngIf="pagination && (paginationPosition == 'bottom' || paginationPosition === 'both')"
		[pagination]="pagination"></nb-table-sorter-paginator>
</ng-container>

<!-- <ng-template #defaultTemplateOptionNotFound let-item>
	<td *ngFor="let header of headers">
		{{ item | get : (header?.property || header) }}
	</td>
</ng-template> -->

<ng-template #defaultRowTemplate let-item>
	<tr (click)="itemClicked(item)" [style.cursor]="options.cursor || 'default'">
		<td *ngFor="let header of headers">
			{{ item | get : (header?.property || header) }}
		</td>
		<td *ngIf="actions?.length" class="actions">
			<button *ngFor="let action of actions" class="btn btn-link px-2"
				[ngClass]="action.color ? 'text-' + action.color : 'text-dark'" [title]="action.title"
				(click)="action.handle()">
				<i *ngIf="action.icon" [ngClass]="action.icon"></i>
			</button>
		</td>
	</tr>
</ng-template>

<ng-template #defaultNotFoundTemplate>
	<div class="alert alert-warning" role="alert">
		<i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> No se han encontrado resultados
	</div>
</ng-template>