<div class="dropdown" [class.show]="shown">
	<button class="btn btn-link px-2 toggle" role="button"
		[ngClass]="dropdownToggle.color ? 'text-' + dropdownToggle.color : 'text-dark'"
		[title]="dropdownToggle.title || null" data-toggle="dropdown" [attr.aria-expanded]="shown"
		(click)="shown = !shown">
		<i [ngClass]="dropdownToggle.icon || 'fa fa-ellipsis-v'"></i>
	</button>
	<div class="dropdown-menu" [class.show]="shown">
		<ng-container *ngFor="let dropdownItem of dropdownToggle.buttons">
			<a class="dropdown-item" role="button" *ngIf="!dropdownItem.hidden"
				[ngClass]="dropdownItem.color ? 'text-' + dropdownItem.color : 'text-dark'"
				(click)="handle(dropdownItem)">
				<i *ngIf="dropdownToggle.icon"
					class="mr-2 {{ dropdownItem.icon }}"></i>{{ dropdownItem.title | titlecase }}
			</a>
		</ng-container>
	</div>
</div>
