<div class="form-control d-flex flex-column">
	<div class="d-flex align-items-center justify-content-between">
		<label *ngIf="type=='date'" class="text-muted">{{ 'FROM' | translate | ucfirst }}:</label><input [type]="type"
			[(ngModel)]="value[0]" [placeholder]="'FROM' | translate | ucfirst" (change)="onChange(value)">
	</div>
	<div class="d-flex align-items-center justify-content-between">
		<label *ngIf="type=='date'" class="text-muted">{{ 'TO' | translate | ucfirst }}:</label><input [type]="type"
			[(ngModel)]="value[1]" [placeholder]="'TO' | translate | ucfirst" (change)="onChange(value)">
	</div>
</div>
