<div class="mb-5 d-flex justify-content-between align-items-center">
	<h2 class="d-inline">Custom loading</h2>
	<a class="btn btn-outline-primary float-right" href="#"><i class="fab fa-fw fa-github"></i>View code in Github</a>
</div>
<paginable-table (onParamsChange)="fetch($event)" [headers]="headers" [pagination]="pagination">
	<ng-template paginableTableCell header="email" let-property="property">
		<a href="mailto:{{ property }}">{{ property }}</a>
	</ng-template>

	<ng-template paginableTableLoading>
		<div class="text-center">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				style="margin:auto;background:#fff;display:block;" width="200px" height="200px" viewBox="0 0 100 100"
				preserveAspectRatio="xMidYMid">
				<defs>
					<filter id="ldio-xzgr7pzoijn-filter" x="-100%" y="-100%" width="300%" height="300%"
						color-interpolation-filters="sRGB">
						<feGaussianBlur in="SourceGraphic" stdDeviation="2.4000000000000004"></feGaussianBlur>
						<feComponentTransfer result="cutoff">
							<feFuncA type="table" tableValues="0 0 0 0 0 0 1 1 1 1 1"></feFuncA>
						</feComponentTransfer>
					</filter>
				</defs>
				<g filter="url(#ldio-xzgr7pzoijn-filter)">
					<g transform="translate(50 50)">
						<g>
							<circle cx="17" cy="0" r="5" fill="#1d3f72">
								<animate attributeName="r" keyTimes="0;0.5;1"
									values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="4s"
									repeatCount="indefinite" begin="-0.25s"></animate>
							</circle>
							<animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360"
								dur="4s" repeatCount="indefinite" begin="0s"></animateTransform>
						</g>
					</g>
					<g transform="translate(50 50)">
						<g>
							<circle cx="17" cy="0" r="5" fill="#5699d2">
								<animate attributeName="r" keyTimes="0;0.5;1"
									values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="2s"
									repeatCount="indefinite" begin="-0.2s"></animate>
							</circle>
							<animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360"
								dur="2s" repeatCount="indefinite" begin="-0.05s"></animateTransform>
						</g>
					</g>
					<g transform="translate(50 50)">
						<g>
							<circle cx="17" cy="0" r="5" fill="#d8ebf9">
								<animate attributeName="r" keyTimes="0;0.5;1"
									values="3.5999999999999996;8.399999999999999;3.5999999999999996"
									dur="1.3333333333333333s" repeatCount="indefinite" begin="-0.15s"></animate>
							</circle>
							<animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360"
								dur="1.3333333333333333s" repeatCount="indefinite" begin="-0.1s"></animateTransform>
						</g>
					</g>
					<g transform="translate(50 50)">
						<g>
							<circle cx="17" cy="0" r="5" fill="#71c2cc">
								<animate attributeName="r" keyTimes="0;0.5;1"
									values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="1s"
									repeatCount="indefinite" begin="-0.1s"></animate>
							</circle>
							<animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360"
								dur="1s" repeatCount="indefinite" begin="-0.15s"></animateTransform>
						</g>
					</g>
					<g transform="translate(50 50)">
						<g>
							<circle cx="17" cy="0" r="5" fill="#4996a2">
								<animate attributeName="r" keyTimes="0;0.5;1"
									values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="0.8s"
									repeatCount="indefinite" begin="-0.05s"></animate>
							</circle>
							<animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360"
								dur="0.8s" repeatCount="indefinite" begin="-0.2s"></animateTransform>
						</g>
					</g>
				</g>
			</svg>
		</div>
	</ng-template>
</paginable-table>
