:host {
	display: block;

	.table-container {
		max-width: 100%;
		overflow-x: auto;
		position: relative;
	}

	.table_container {
		border: 1px solid #eee;
		border-radius: 4px;
	}

	table {
		position: relative;
	}

	thead {
		&.sticky {
			position: sticky;
			inset-block-start: 0;
		}
		tr {
			&.filter_row {
				.filter_cell {
					background-color: #eee;
					padding: 0.25rem;
					vertical-align: middle;
				}
				.filter_cell_clear {
					padding: 0.75rem;
				}
			}
			th {
				padding: 8px;
				transition: box-shadow 0.3s;
			}
			&:hover {
				th:not(:last-child) {
					box-shadow: -1px 0px 0px 0px #eee, 1px 0px 0px 0px #eee;
				}
			}
		}
	}
	tfoot {
		&.sticky {
			position: sticky;
			inset-block-end: 0;
		}

		th,
		td {
			&.sticky-start {
				background-color: white;
				left: 0;
				position: sticky;
				z-index: 9;
			}

			&.sticky-end {
				background-color: white;
				right: 0;
				position: sticky;
				z-index: 9;
			}
		}

		.actions {
			text-align: center;
			white-space: nowrap;
			width: 1%;

			button {
				opacity: 0.4;

				&:hover {
					opacity: 1;
				}
			}
		}

		.table {
			&.table-hover {
				tr:hover {
					td {
						&.sticky-start,
						&.sticky-end {
							background-color: inherit;
						}
					}
				}
			}
		}
	}
}
