:host {
	display: block;

	.table-container {
		max-width: 100%;
		overflow-x: auto;
		position: relative;
	}

	.table_container {
		// border: 1px solid #eee;
		border-radius: 4px;
	}

	table {
		position: relative;
	}

	thead {
		tr {
			&.filter_row {
				background-color: #eee;
			}
			th {
				padding: 8px;
				transition: box-shadow 0.3s;
			}
			&:hover {
				th:not(:last-child) {
					box-shadow: -1px 0px 0px 0px #eee, 1px 0px 0px 0px #eee;
				}
			}
		}
	}

	th,
	td {
		background-color: white;
		&.sticky-start {
			left: 0;
			position: sticky;
			z-index: 9;
		}

		&.sticky-end {
			right: 0;
			position: sticky;
			z-index: 9;
		}
	}

	.actions {
		text-align: center;
		white-space: nowrap;
		width: 1%;

		button {
			opacity: 0.4;

			&:hover {
				opacity: 1;
			}
		}
	}

	.table {
		&.table-hover {
			tr:hover {
				td {
					&.sticky-start,
					&.sticky-end {
						background-color: inherit;
					}
				}
			}
		}
	}
}
